.icon-raw {
  display:flex;
  justify-content: flex-start;
  flex-wrap:wrap;
  color:rgba(0,0,0,0.8);
}


.icon-raw__icon {
  display:flex;
  flex-direction:column;
  align-items:center;
  width:25%;
}

.icon-raw__icon:nth-child(5), .icon-raw__icon:nth-child(6) {
  margin-top:40px;
}

.icon-raw__icon--main {
  font-size:23px;
  margin-bottom:20px
}

.icon-raw__more span{
  color:rgba(0,0,0,0.1);
}

.icon-raw__icon--more {
  font-size: 25px;
  margin-bottom:14px;
}

.icon-raw__icon span {
  text-align:center;
  font-size:15px;
}
