.nav {
  position: fixed;
  bottom: 0;
  width:100%;
  background-color: var(--grey);
  padding:15px 55px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nav__list {
  display:flex;
  justify-content: space-between;
}
.nav__icon {
  font-size:25px;
  color:rgb(0,0,0,0.8)
}

.nav__link {
  position: relative;
}

.nav__notification--bubble {
  background-color: tomato;
  width: 20px;
  height: 20px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  position: absolute;
  left: 18px;
  bottom: 20px;
}

.nav__notification--ellipsis {
  background-color: tomato;
  width:5px;
  height: 5px;
  border-radius: 2.5px;
  display: flex;
  position: absolute;
  left: 25px;
  bottom: 25px;
}